In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
from scipy import stats
import matplotlib.pyplot as plt
import sklearn
import pandas as pd
from pandas import DataFrame, Series
from numpy import nan as NA

In [10]:
data=DataFrame([[128,67,32,14,4,1,1,0],
                [156,63,29,8,4,1,1,0]],
               columns=["0","1","2","3","4","5","6","greater than 6"],
               index=["Hamilton","Madison"]).T
data

                Hamilton  Madison
0                    128      156
1                     67       63
2                     32       29
3                     14        8
4                      4        4
5                      1        1
6                      1        1
greater than 6         0        0