In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
from scipy import stats
import matplotlib.pyplot as plt
import sklearn
import pandas as pd
from pandas import DataFrame, Series
from numpy import nan as NA

In [2]:
def summ(x):
    percentile=np.percentile(x,[2.5,25,50,75,97.5]).tolist()
    summ=[np.mean(x),np.std(x),np.min(x),np.max(x)]
    summ.extend(percentile)
    summ=DataFrame(summ,index=["mean","sd","min","max","2.5%","25%","50%","75%","97.5%"],columns=["info"]).T
    return summ

In [3]:
data=DataFrame([[5.0,13.0,7.2,6.8,12.8,5.8,9.5,6.0,3.8,14.3,1.8,6.9,4.7,9.5],
                [0.9,12.9,2.6,3.5,26.6,1.5,13.0,8.8,19.5,2.5,9.0,13.1,3.6,6.9],
                [14.3,6.9,7.6,9.8,2.6,43.5,4.9,3.5,4.8,5.6,3.5,3.9,6.7]],
                index=["Blue Earth","Clay","Goodhue"]).T

y=np.array([5.0,13.0,7.2,6.8,12.8,5.8,9.5,6.0,3.8,14.3,1.8,6.9,4.7,9.5,0.9,12.9,2.6,3.5,26.6,1.5,13.0,8.8,19.5,2.5,9.0,13.1,3.6,6.9,
   14.3,6.9,7.6,9.8,2.6,43.5,4.9,3.5,4.8,5.6,3.5,3.9,6.7])

indicator0=[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]
indicator1=[1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
indicator2=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0]
indicator3=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1]
indicator4=[0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0]

X=DataFrame([indicator0,indicator1,indicator2,indicator3,indicator4]).T

In [4]:
beta_hat=np.dot(np.dot(np.linalg.inv(np.dot(X.T,X)),X.T),y)
V_b=sp.linalg.inv(np.dot(X.T,X))

In [5]:
print beta_hat
print V_b

[-1.24280702  6.78252193 -4.19963816  0.115625   -2.92719298]
[[ -2.25179981e+14   2.25179981e+14   2.25179981e+14   2.25179981e+14
   -2.45614035e-02]
 [  2.25179981e+14  -2.25179981e+14  -2.25179981e+14  -2.25179981e+14
    1.75438596e-03]
 [  2.25179981e+14  -2.25179981e+14  -2.25179981e+14  -2.25179981e+14
   -2.10526316e-02]
 [  2.25179981e+14  -2.25179981e+14  -2.25179981e+14  -2.25179981e+14
    0.00000000e+00]
 [ -1.76754386e-02  -5.13157895e-03  -2.79385965e-02  -6.88596491e-03
    1.59649123e-01]]

In [15]:
df=len(y)-len(beta_hat)
s2=1./df*np.dot((y-np.dot(X,beta_hat)).T,y-np.dot(X,beta_hat))
sigma2=1.*df*s2/sp.stats.chi.rvs(df=df,size=1000)

V_b_sigma2=[]
beta=[]
for i in range(len(sigma2)):
    V_b_sigma2.append(V_b*sigma2[i])
    beta.append(sp.stats.multivariate_normal.rvs(mean=beta_hat,cov=V_b_sigma2[i]))

In [16]:
s2

195.6110476447447

In [17]:
beta=DataFrame(beta)

In [18]:
summ(beta.ix[:,0])

,mean,sd,min,max,2.5%,25%,50%,75%,97.5%
info,-1.387388,7.228593,-25.469881,27.218204,-16.251448,-5.758028,-1.559257,2.573603,13.951039

In [19]:
summ(beta.ix[:,1])

,mean,sd,min,max,2.5%,25%,50%,75%,97.5%
info,6.737296,7.489275,-20.680875,33.571309,-7.414044,1.804573,6.530049,11.253121,22.007334

In [20]:
summ(beta.ix[:,2])

,mean,sd,min,max,2.5%,25%,50%,75%,97.5%
info,-4.48973,8.060993,-32.762275,24.036784,-20.432007,-9.537258,-4.765101,0.647787,12.094815

In [21]:
summ(beta.ix[:,3])

,mean,sd,min,max,2.5%,25%,50%,75%,97.5%
info,0.306362,7.702237,-26.307524,27.872852,-14.540469,-4.628121,0.183034,5.403453,15.126765

In [22]:
summ(beta.ix[:,4])

,mean,sd,min,max,2.5%,25%,50%,75%,97.5%
info,-3.388096,13.452634,-42.214685,45.602571,-30.816776,-12.141162,-3.505864,5.73176,23.924222